html {
    background-color: black;
    background-image: url('images/hoplites.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body {
  margin: 0;
}

.page-header{
  background-color: #B80D48;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  font-size: 70px;
  text-align: center;
  margin: 0;
}
.page-header h1{
  margin-bottom:10px;
  padding:0px;
}

.page-content {
  background-color:white;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #B80D48;
  font-family: sans-serif;
  padding: 30px;
  margin-top: 30px;
}

.center-image{
  text-align:center;
}

.center-image img{
  height: 150px;
}

.page-footer{
  background-color:white;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #B80D48;
  font-family: sans-serif;
  padding: 30px;
  margin-top: 30px;
}

.main-nav a {
  background-color: white;
  padding: 10px 20px;
  color: green;
  border: 2px solid black;
  border-radius: 30px;
  font-family: Comic Sans MS;
  font-size: 16px;
  text-decoration:none;
  font-weight:bold;
}

.main-nav a:hover {
  background-color: blue;
  color: white;
}